<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>首页</title>
        <link rel="stylesheet" href="css/manga.css">
    </head>
    <body>
        <p>
            用 node 服务器的方式运行，通过通用后端 API 获取数据
        </p>
        <div id="pie" class="chart"></div>
        <div id="bar" class="chart"></div>        
        <script src="/js/lib/jquery.min.js"></script>
        <script src="/js/lib/lodash.min.js"></script>
        <script src="/js/lib/echarts.min.js"></script>
        <script src="js/api.js"></script>
        <script src="js/manga.js"></script>
    </body>
</html>
